.cache
.kdev4
.pytest_cache
python-db-pool.kdev4
assets
dist
.egg-info
__pycache__
report.html
Module.symvers
modules.order
build
dist
python_dbpool.egg-info
*.o
*.ko
*.mod
*.mod.c
*.kdev4
__pycache__
*.tar
*.tar.gz
*.tar.bz2
.kdev4
.kate-swp
.swp
